@model Inmobiliaria_Zarate_DoNet.Models.Inmueble
@{
    ViewData["Title"] = "Eliminar inmueble";
}
<partial name="~/Views/Shared/_Alertas.cshtml" />

<h2>Eliminar inmueble</h2>
<p class="text-danger">¿Confirmás eliminar este inmueble?</p>

<dl class="row">
    <dt class="col-sm-3">Dirección</dt><dd class="col-sm-9">@Model.Direccion</dd>
    <dt class="col-sm-3">Propietario</dt><dd class="col-sm-9">@Model.PropietarioNombreCompleto</dd>
    <dt class="col-sm-3">Tipo</dt><dd class="col-sm-9">@Model.TipoNombre</dd>
    <dt class="col-sm-3">Uso</dt><dd class="col-sm-9">@Model.Uso</dd>
</dl>

<form asp-action="Delete" method="post" >
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-secondary">Cancelar</a>
</form>
