@model IEnumerable<Inmobiliaria_Zarate_DoNet.Models.Inmueble>
@{
    ViewData["Title"] = "Inmuebles disponibles";
}
<h2>@ViewData["Title"]</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Dirección</th>
            <th>Uso</th>
            <th>Amb.</th>
            <th>Precio base</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var i in Model)
    {
        <tr>
            <td>@i.Direccion</td>
            <td>@i.Uso</td>
            <td>@i.Ambientes</td>
            <td>@i.PrecioBase.ToString("C")</td>
            <td>
                <a asp-action="Details" asp-route-id="@i.Id" class="btn btn-info btn-sm">Ver</a>
                <a asp-action="Edit" asp-route-id="@i.Id" class="btn btn-warning btn-sm">Editar</a>
            </td>
        </tr>
    }
    </tbody>
</table>
