@model IEnumerable<Inmobiliaria_Zarate_DoNet.Models.Contrato>
@{
    ViewData["Title"] = "Contratos";
}
<h2>@ViewData["Title"]</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Num De Contrato</th>
            <th>Num De Inmueble</th>
            <th>Num De Inquilino</th>
            <th>Fecha de Inicio</th>
            <th>Fecha de Finalizacion</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var c in Model)
    {
        <tr>
            <td>@c.Id</td>
            <td>@c.InmuebleId</td>
            <td>@c.InquilinoId</td>
            <td>@c.FechaInicio.ToShortDateString()</td>
            <td>@c.FechaFinOriginal.ToShortDateString()</td>
            <td>
                <a asp-action="PorContrato" asp-route-contratoId="@c.Id" class="btn btn-primary btn-sm">
                    Ver pagos
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>
